<div class="row">
  <div class="col-lg-10 col-lg-offset-1">
    <div class="row">
      <div id="landing-content" class="col-lg-9">
        <h3><b>Bienvenidos a un clon de Twitter en RoR</b></h3>
        <p>
          Este aplicativo es un clon de código abierto de Twitter en Ruby on Rails tomado de sudharti en <a href="https://github.com/sudharti/twitter-clone/">Github</a>. 
          Esta no es una copia exacta de Twitter pero tiene una funcionalidad similar. 
          La idea es tener en español y demostrar lo fácil que es desarrollar una aplicación de redes sociales utilizando Ruby on Rails.
        </p>
        <p>
          Este código se puede descargar en <a href="https://github.com/rrg1459/tcrrg/">Github</a>
        </p>
      </div>
      <div class="col-lg-3">
        <div class="row">
          <div class="well">
            <%= render "devise/sessions/form" %>
            <%= link_to "Olvidaste tu contraseña?", new_password_path(:user) %>
          </div>
        </div>
        <div class="row">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Crea una Cuenta</h3>
            </div>
            <div class="panel-body">
              <%= render "devise/registrations/form" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
